<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mintmap.dao.FavourMapper">
  <resultMap id="BaseResultMap" type="com.mintmap.pojo.Favour">
    <constructor>
      <idArg column="favourID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="uID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="favourTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    favourID, uID, tID, favourTime, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_favour
    where favourID = #{favourid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_favour
    where favourID = #{favourid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mintmap.pojo.Favour">
    insert into tb_favour (favourID, uID, tID, 
      favourTime, createTime)
    values (#{favourid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, 
      #{favourtime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mintmap.pojo.Favour">
    insert into tb_favour
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="favourid != null">
        favourID,
      </if>
      <if test="uid != null">
        uID,
      </if>
      <if test="tid != null">
        tID,
      </if>
      <if test="favourtime != null">
        favourTime,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="favourid != null">
        #{favourid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="favourtime != null">
        #{favourtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mintmap.pojo.Favour">
    update tb_favour
    <set>
      <if test="uid != null">
        uID = #{uid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        tID = #{tid,jdbcType=INTEGER},
      </if>
      <if test="favourtime != null">
        favourTime = #{favourtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where favourID = #{favourid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mintmap.pojo.Favour">
    update tb_favour
    set uID = #{uid,jdbcType=INTEGER},
      tID = #{tid,jdbcType=INTEGER},
      favourTime = #{favourtime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where favourID = #{favourid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.mintmap.pojo.Favour">
    <constructor>
      <idArg column="favourID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="uID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="favourTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    favourID, uID, tID, favourTime, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_favour
    where favourID = #{favourid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_favour
    where favourID = #{favourid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mintmap.pojo.Favour">
    insert into tb_favour (favourID, uID, tID, 
      favourTime, createTime)
    values (#{favourid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, 
      #{favourtime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mintmap.pojo.Favour">
    insert into tb_favour
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="favourid != null">
        favourID,
      </if>
      <if test="uid != null">
        uID,
      </if>
      <if test="tid != null">
        tID,
      </if>
      <if test="favourtime != null">
        favourTime,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="favourid != null">
        #{favourid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="favourtime != null">
        #{favourtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mintmap.pojo.Favour">
    update tb_favour
    <set>
      <if test="uid != null">
        uID = #{uid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        tID = #{tid,jdbcType=INTEGER},
      </if>
      <if test="favourtime != null">
        favourTime = #{favourtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where favourID = #{favourid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mintmap.pojo.Favour">
    update tb_favour
    set uID = #{uid,jdbcType=INTEGER},
      tID = #{tid,jdbcType=INTEGER},
      favourTime = #{favourtime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where favourID = #{favourid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.mintmap.pojo.Favour">
    <constructor>
      <idArg column="favourID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="uID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="favourTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    favourID, uID, tID, favourTime, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_favour
    where favourID = #{favourid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_favour
    where favourID = #{favourid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mintmap.pojo.Favour">
    insert into tb_favour (favourID, uID, tID, 
      favourTime, createTime)
    values (#{favourid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, 
      #{favourtime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mintmap.pojo.Favour">
    insert into tb_favour
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="favourid != null">
        favourID,
      </if>
      <if test="uid != null">
        uID,
      </if>
      <if test="tid != null">
        tID,
      </if>
      <if test="favourtime != null">
        favourTime,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="favourid != null">
        #{favourid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="favourtime != null">
        #{favourtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mintmap.pojo.Favour">
    update tb_favour
    <set>
      <if test="uid != null">
        uID = #{uid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        tID = #{tid,jdbcType=INTEGER},
      </if>
      <if test="favourtime != null">
        favourTime = #{favourtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where favourID = #{favourid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mintmap.pojo.Favour">
    update tb_favour
    set uID = #{uid,jdbcType=INTEGER},
      tID = #{tid,jdbcType=INTEGER},
      favourTime = #{favourtime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where favourID = #{favourid,jdbcType=INTEGER}
  </update>
</mapper>