<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mintmap.dao.SubtravelMapper">
  <resultMap id="BaseResultMap" type="com.mintmap.pojo.Subtravel">
    <constructor>
      <idArg column="sID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="imgHead" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="text" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="position" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="longitude" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="latitude" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    sID, tID, time, type, imgHead, text, position, longitude, latitude, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_subtravels
    where sID = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_subtravels
    where sID = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mintmap.pojo.Subtravel">
    insert into tb_subtravels (sID, tID, time, 
      type, imgHead, text, 
      position, longitude, latitude, 
      createTime)
    values (#{sid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=VARCHAR}, #{imghead,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, 
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.mintmap.pojo.Subtravel">
    insert into tb_subtravels
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sID,
      </if>
      <if test="tid != null">
        tID,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="imghead != null">
        imgHead,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="imghead != null">
        #{imghead,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mintmap.pojo.Subtravel">
    update tb_subtravels
    <set>
      <if test="tid != null">
        tID = #{tid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="imghead != null">
        imgHead = #{imghead,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sID = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mintmap.pojo.Subtravel">
    update tb_subtravels
    set tID = #{tid,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=VARCHAR},
      imgHead = #{imghead,jdbcType=VARCHAR},
      text = #{text,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where sID = #{sid,jdbcType=INTEGER}
  </update>
</mapper>